@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
.start {
    background: #e0e0e0;
    border-top: 3px solid rgba(255, 0, 0, 0.89);
}
